<!doctype html>
<html>

<head>
  <title>GrappLin</title>
  <link rel="stylesheet" type="text/css" href="cloudLink.css">
  <link href='http://fonts.googleapis.com/css?family=Doppio+One' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="/favicon.ico" type="">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body style="background-color: #006363">
  <div class="header"></div>
  <div class="headline">
    <h1>CloundLink</h1>
  </div>
  <div class="button-login">- SIGN IN -
    <form method="post" action="login.php">
      <input name="form[username]" size="20" maxlength="50" placeholder="Username" style="background-color: white; font-family: 'Doppio One', sans-serif;
	font-size: 15px; color: #006363; border:0px; width:90%; height:10%; margin-top:3%" />
      <input type="password" name="form[password]" size="20" maxlength="50" placeholder="Password" style="background-color: white; font-family: 'Doppio One', sans-serif;
	font-size: 15px; color: #006363; border:0px; width:90%; height:10%; margin-top:3%" />
      <input type="submit" value="Login" name="form[btnLogin]" style="background-color:#006363; font-family: 'Doppio One', sans-serif;
	font-size: 20px; color:#FF8040; border:0px; width:90%; height:15%; margin-top:3%" />
    </form>
  </div>
  <p></p>
  <div class="button-registieren">- REGISTER -
    <form method="post" action="login.php">
      <input name="form[username]" size="20" maxlength="50" placeholder="Your Username" style="background-color: white; font-family: 'Doppio One', sans-serif;
	font-size: 15px; color: #006363; border:0px; width:45%; height:10%; margin-top:3%" />
      <input name="form[email]" size="20" maxlength="50" placeholder="Your Mail Adress" style="background-color: white; font-family: 'Doppio One', sans-serif;
	font-size: 15px; color: #006363; border:0px; width:45%; height:10%; margin-top:3%" />
      <input type="password" name="form[password1]" size="20" maxlength="50" placeholder="Your Password" style="background-color: white; font-family: 'Doppio One', sans-serif;
	font-size: 15px; color: #006363; border:0px; width:45%; height:10%; margin-top:3%" />
      <input type="password" name="form[password2]" size="20" maxlength="50" placeholder="Repeat Password" style="background-color: white; font-family: 'Doppio One', sans-serif;
	font-size: 15px; color: #006363; border:0px; width:45%; height:10%; margin-top:3%" />
      <input name="form[btnSave]" type="submit" value="Regist" size="20" maxlength="50" style="background-color:#006363; font-family: 'Doppio One', sans-serif;
	font-size: 20px; color:#FF8040; border:0px; width:92%; height:15%; margin-top:3%" />
    </form>
  </div>
  <p></p>
  <div class="button-about">- ABOUT -
    <div style=" margin-top:20px; text-align:center; margin-left: 10px; font-size:16px; margin-right:10px">
      <h4>Lorem Ipsum ist ein einfacher Demo-Text für die Print- und Schriftindustrie. Lorem Ipsum ist in der Industrie bereits der Standard Demo-Text seit 1500, als ein unbekannter Schriftsteller eine Hand voll Wörter nahm und diese durcheinander warf um ein Musterbuch zu erstellen. Es hat nicht nur 5 Jahrhunderte überlebt, sondern auch in Spruch in die elektronische Schriftbearbeitung geschafft (bemerke, nahezu unverändert)</h4>
      <div>
        <img src="about-long-01.png" width="100%" height="100%">
      </div>
      <h5>Just try it and regist UPON!</h5>
      <div class="arrow" style=" margin-bottom: 50px">
        <img src="pfeil.png" width="10%" height="10%">
      </div>
    </div>
  </div>

</body>

</html>
